@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
/* ::-webkit-scrollbar{width: 5px !important; height: 5px !important;} ::-webkit-scrollbar-thumb{background: #0858f7 !important;} ::-webkit-scrollbar-track{background: transparent !important;}

h3 {
    font-size: 24px;
    line-height: 37px;
}
h1, h2, h3, h4, h5, h6 {    
    color: #000000;
    margin: 0;
    font-weight: 700;
}
.breadcrumbs li a.disabled,
.breadcrumbs li a {
    @apply text-xs text-tiny leading-4 transition-all;
}
.breadcrumbs li a:hover {color:#2275fc;}
.breadcrumbs li a.disabled {
    cursor: default;
    pointer-events: none;
}
.breadcrumbs li svg {@apply stroke-[#575864]}

#default-sidebar {
    @apply hidden lg:flex items-center flex-col shrink-0 shadow-sidebar fixed !pt-[81px] top-[64px] left-0 w-64 bg-white h-screen overflow-auto transition-transform;
}
#default-sidebar ul li a:after {
    position: absolute;
    content: "";
    top: 7px;
    left: -24px;
    width: 8px;
    height: 34px;
    border-radius: 8px;
}
#default-sidebar ul li.active a:after {
    background-color: #2275fc;
}
#default-sidebar ul li.active > a {background-color: rgba(35,119,252,.1)}
.logo-wrapper {
 @apply fixed top-0 left-0 z-30 w-full bg-white flex flex-wrap items-center justify-between transition-all px-5 py-4 border-b border-[#f2f7fb];   
}
.center-heading {
    color: #bdc7d3;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-left: 14px;
}
.content-area {width: 100%; background-color: #f8f8f8;}
.content-area.hide {
    width: 100%;
    margin-left: 0;
}
fieldset {
    margin-bottom: 0;
    width: 100%;
}
.body-title, .body-title-2 {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
}
.tf-color-1 {color:#ff5200;}
@media screen and (min-width: 1281px) {
    .content-area {
        width: calc(100% - 256px);
        margin-left: 256px;
        min-height: 100vh;
        @apply transition-all;
    }
} */
 body {
    @apply bg-gray-50 transition-all duration-300 lg:hs-overlay-layout-open:ps-[260px] dark:bg-neutral-900;
 }
 .content-area {
    min-height: calc(100vh - 100px);
 }
 .hs-tooltip-content[data-popper-placement="right"] .hs-tooltip-arrow {
    @apply -left-2;
 }
 .hs-tooltip-content[data-popper-placement="left"] .hs-tooltip-arrow {
    @apply -right-2;
 }
 .react-datepicker__day-names {
    @apply flex pb-4;
 }
 .react-datepicker__day-names .react-datepicker__day-name {
    @apply m-px w-10 block text-center text-sm text-gray-500 dark:text-neutral-500;
 }
 .react-datepicker__month {
    @apply !m-0;
 }
 .react-datepicker__month .react-datepicker__week {@apply flex;}
 .react-datepicker__month .react-datepicker__week .react-datepicker__day {
     @apply m-px size-10 flex justify-center items-center border border-transparent text-sm text-gray-800 !rounded-full hover:bg-white hover:border-blue-600 hover:text-blue-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-blue-600 focus:text-blue-600 dark:text-neutral-200;
}
.react-datepicker__month .react-datepicker__week .react-datepicker__day[aria-selected="true"] {
    @apply bg-blue-600 font-medium text-white disabled:text-gray-300 disabled:pointer-events-none dark:bg-blue-500 dark:hover:border-neutral-700 dark:focus:border-neutral-700;
}
.react-datepicker {
    @apply p-3 !font-sans space-y-0.5 w-80 flex flex-col !border-[#e5e7eb] shadow-lg !rounded-xl overflow-hidden dark:bg-neutral-900 dark:border-neutral-700;
}
.react-datepicker__header {
    @apply !bg-transparent !border-0 rounded-none !py-0;
}
.react-datepicker__header h2 {display: none;}
.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
    @apply z-50 !top-[45px] max-h-72 p-1 space-y-0.5 !bg-white !border-gray-200 !rounded-lg shadow-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-900 dark:border-neutral-700;
}
.react-datepicker__year-dropdown .react-datepicker__year-option,
.react-datepicker__month-dropdown .react-datepicker__month-option {
    @apply cursor-pointer justify-between flex text-left p-2 w-full text-sm text-gray-800 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800;
}
.react-datepicker__year-dropdown .react-datepicker__year-option.react-datepicker__year-option--selected_year,
.react-datepicker__month-dropdown .react-datepicker__month-option.react-datepicker__month-option--selected_month {@apply flex-row-reverse;}
.react-datepicker__year-dropdown .react-datepicker__year-option .react-datepicker__year-option--selected,
.react-datepicker__month-dropdown .react-datepicker__month-option .react-datepicker__month-option--selected {
    @apply relative left-auto;
}
.react-datepicker__month-read-view--selected-month {
    /* @apply  */
    /* hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 before:absolute before:inset-0 before:z-[1] */
     /* relative flex cursor-pointer text-start font-medium text-gray-800 hover:text-blue-600 focus:outline-none focus:text-blue-600 */
}
.react-datepicker__header__dropdown--scroll {
    @apply pb-4 pt-1;
}
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll {
    @apply !mx-1;
}
.react-datepicker__year-read-view--selected-year,
.react-datepicker__month-read-view--selected-month {
    @apply flex cursor-pointer text-base !visible text-start font-medium text-gray-800 hover:text-blue-600 focus:outline-none focus:text-blue-600;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {@apply !hidden;}
.react-datepicker__navigation {
    @apply !top-4;
}
.react-datepicker__navigation .react-datepicker__navigation-icon {
    @apply before:relative before:right-0 before:top-0 before:left-0 before:border-black before:border-t-2 before:border-r-2 size-8 flex justify-center items-center text-gray-800 hover:bg-gray-100 hover:before:border-black rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800;
}